<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nzaplstorefwfuncdemoappcs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bcdeb3b2-8c3a-4548-8242-e486969cb735/resourceGroups/nzaplstorefwfuncdemo-rg/providers/Microsoft.Web/sites/nzaplstorefwfuncdemoappcs</ResourceId>
    <UserName>$nzaplstorefwfuncdemoappcs</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://nzaplstorefwfuncdemoappcs.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>